body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.btn {
   margin: 10%;
   width: 70px;
   height: 30px;
   background: white;
   border: solid 2px;
   border-radius: 5%;
}
 