body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

form {
  border: solid 2px;
  padding: 10%;
}

.btn {
   margin: 20px 0;
   width: 70px;
   height: 30px;
   background: white;
   border: solid 1px;
   border-radius: 5%;
}
 